.search-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    p {
        color: white;
        cursor: pointer;
    }
}


.search-input-box {
    background-color: white;
    border-radius: 14px 0px 14px 1px;
    -moz-border-radius: 14px 0px 14px 1px;
    -webkit-border-radius: 14px 0px 14px 1px;
    border: 0px solid #000000;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
    border: 0;
    width: 10rem;
    padding: 0.5rem;
    height: 1.5rem;
    margin-right: 2rem;
    font-family: Candara;
}


@media only screen and (max-width: 740px) {
    .search-form {
        border-left: none;
        border-top: 1px solid white;
    }
}

input:focus {
    outline: none;
}
